*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #1a1a2e;
    padding: 16px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top: 0;
}

.logo{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.navbar ul li a{
    color: #cccccc;
    text-decoration: none;
    font-size: 15px;
}

.navbar ul li a:hover{
    color: #ffffff;
}

.about{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 60px 80px;
    background-color: #ffffff;
}

.profile-img{
    border: 1px solid red;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.about-text h2{
    font-size: 15px;
    color:#1a1a2e;
    margin-bottom: 12px;
}

.about-text p {
    font-size: 15px;
    color:#666666;
    line-height: 1.7;
}

.skills{
    background-color: #f8f8f8;
    padding: 60px 80px;
    text-align: center;
}

.skills h2{
    font-size: 22px;
    color: #1a1a2e;
    margin-bottom: 32px;
}

.skills-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 16px;
    padding: 32px;
}

.skill-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 80px;
}

.skill-item img{
    width: 60px;
    height: 60px;
    border-radius: 10%;
    object-fit: cover;
}

.skill-item p{
    font-size: 13px;
    color:#555555;
}

.contact{
    background-color: #ffffff;
    padding: 60px 80px;
    text-align: center;
}

.contact h2{
    font-size: 22px;
    color:#1a1a2e;
    margin-bottom: 32px;
}

.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 640px;
    margin: 0 auto;
}

.activity-box, .contact-box{
    background: #f8f8f8;
    border-radius: 12px;
    padding: 20px 24px;
    text-align: left;
    font-size: 15px;
    color: #1a1a2e;
    margin-bottom: 12px;
}

.activity-box ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.activity-box ul li{
    font-size: 13px;
    color: #555;
    padding:6px 0;
    border-bottom: 1px solid #eee;
}

.contact-box a{
    display: block;
    font-size: 13px;
    color: #185FA5;
    text-decoration: none;
    padding: 6px 0;
}

footer{
    background-color: #1a1a2e;
    padding: 24px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p, footer a{
    color: #aaaaaa;
    font-size: 13px;
    text-decoration: none;
}

.footer-links{
    display: flex;
    gap: 16px
}

html{
    scroll-behavior: smooth;
}

