*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ิ.body{
    min-height: 100vh;
}

.logo{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.navbar{
    background-color: #1a1a2e;
    padding: 16px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top: 0;
    z-index:999;
}


.navbar ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.navbar ul li a{
    color: #cccccc;
    text-decoration: none;
    font-size: 15px;
    position: relative;
    padding-bottom: 4px;
}

.navbar ul li a::after{
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    width: 0; height: 2px;
    background: #ffffff;
    transition: width 0.3s ease;
}

.navbar ul li a:hover{
    color: #ffffff;
}

.navbar ul li a:hover::after{
    width: 100%;
}

.about{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 60px 80px;
    background-color: #ffffff;
}

.profile-img{
    width: 450px;
    height: 500px;
    border-radius: 10%;
    object-fit: cover;
    flex-shrink: 0;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.about-text h2{
    font-size: 15px;
    color:#1a1a2e;
    margin-bottom: 12px;
}

.about-text p {
    font-size: 15px;
    color:#666666;
    line-height: 1.7;
}

.skills{
    background-color: #f8f8f8;
    padding: 60px 80px;
    text-align: center;
}

.skills h2{
    font-size: 22px;
    color: #1a1a2e;
    margin-bottom: 32px;
}

.skills-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 16px;
    padding: 32px;
}

.skill-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 80px;
}

.skill-item img{
    width: 60px;
    height: 60px;
    border-radius: 10%;
    object-fit: cover;
    transform: transform 0.25s ease, box-shadow 0.25s ease;
}

.skill-item p{
    font-size: 13px;
    color:#555555;
}

.skill-item:hover img{
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}


.contact{
    background-color: #ffffff;
    padding: 60px 80px;
    text-align: center;
}

.contact h2{
    font-size: 22px;
    color:#1a1a2e;
    margin-bottom: 32px;
}

.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 640px;
    margin: 0 auto;
}

.activity-box, .contact-box{
    background: #f8f8f8;
    border-radius: 12px;
    padding: 20px 24px;
    text-align: left;
    font-size: 15px;
    color: #1a1a2e;
    margin-bottom: 12px;
}

.activity-box ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.activity-box ul li{
    font-size: 13px;
    color: #555;
    padding:6px 0;
    border-bottom: 1px solid #eee;
}

.contact-box a{
    display: block;
    font-size: 13px;
    color: #185FA5;
    text-decoration: none;
    padding: 6px 0;
    transform: color 0.2, padding-left 0.2s;
}

.activity-box, .contact-box{
transition: transform  0.25s ease, box-shadow 0.25s ease;
}

.activity-box:hover, .contact-box:hover{
transform: translateY(-4px);
box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.contact-box a:hover{
color: #1a1a2e;
padding-left: 6px;
}

footer{
    background-color: #1a1a2e;
    padding: 24px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p, footer a{
    color: #aaaaaa;
    font-size: 13px;
    text-decoration: none;
}

.footer-links{
    display: flex;
    gap: 16px
}

html{
    scroll-behavior: smooth;
}

@keyframes fadeInUp{
form {opacity: 0; transform: translateY(24px);}
to   {opacity: 1; transform: translateY(0);}
}

.about{animation: fadeInUp 0.6s ease both;}
.skills{animation: fadeInUp 0.6s ease 0.15s both}
.contact{animation: fadeInUp 0.6 ease 0.3s both}
